<div class="main">
  <div class="controller" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <div class="vertical">
      <button mat-button [matMenuTriggerFor]="menu"><span fxHide.lt-md="true">Horizontal</span><span fxHide.gt-md="true"
        fxHide.md="true">vertical</span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let item of vertical" (click)="onVert(item)">{{item}}</button>
        </mat-menu>
      </div>
      <div class="horizontal">
        <button mat-button [matMenuTriggerFor]="menu1"><span fxHide.lt-md="true">vertical</span><span fxHide.gt-md="true"
          fxHide.md="true">Horizontal</span></button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item *ngFor="let item1 of horizontal" (click)="onHor(item1)">{{item1}}</button>
          </mat-menu>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="row-column">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="direct">
              <mat-radio-button value="row">row</mat-radio-button>
              <mat-radio-button value="column">column</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="gap">
            Gap
            <input type="number" style='width:"35px"' [(ngModel)]="gap" />
          </div>
          </div>
          <div class="button">
            <button mat-stroked-button>Add</button>
            <button mat-stroked-button>Delete</button>
          </div>
      </div>
      <div class="label" fxLayoutAlign="space-around center" style="background-color: rgba(240, 248, 255, 0.603);color: black; padding: 10px 0;margin-top: 10px;">
        <span>
          fxLayout: "{{direct}}"
        </span>
        <span>
          fxLayoutAlign: "{{vert}}  {{hor}}"
        </span>
        <span>
          fxLayoutGap: "{{gap}}"
        </span>
      </div>
      <div class="container" fxLayout="{{direct}}" fxLayoutGap="{{gap}}" fxLayoutAlign="{{vert}} {{hor}}">
        <div class="box" fxLayoutAlign="center center">
          <div class="num">1</div>
        </div>
        <div class="box" fxLayoutAlign="center center">
          <div class="num">2</div>
        </div>
        <div class="box" fxLayoutAlign="center center">
          <div class="num">3</div>
        </div>
      </div>
    </div>