.main{
    padding: 10px;
}
.container{
    margin: 20px;
    padding: 10px;
    height: 70vh;
}
.box{
    min-width: 120px;
    min-height: 100px;
    background-color: white;
    color: black;
}
.box:nth-child(2){
    background-color: aqua;
}
.box:nth-child(3){
    background-color: yellow;
}
.box:nth-child(4){
    background-color: violet;
}
.box:nth-child(5){
    background-color: red;
}
.box:nth-child(6){
    background-color: green;
}
.box:nth-child(7){
    background-color: darkgoldenrod;
}
.box:nth-child(8){
    background-color: deeppink;
}
.box:nth-child(9){
    background-color: dodgerblue;
}
.box:nth-child(10){
    background-color: gray;
}
.gap{
    padding-left: 10px;
}
